{% extends 'Medico/layout.html' %}
{% load static %}
{% block title %}
  Lista de Resúmenes
{% endblock %}

{% block links %}
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}

{% block content %}
  <div class="container mt-4">
    <h1>Lista de Resúmenes</h1>

    <div class="form-group">
      <input type="text" class="form-control" id="barra-busqueda" placeholder="Buscar..." />
    </div>

    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Número de Expediente</th>
          <th>Nombre del Paciente</th>
          <th>Especialidad</th>
          <th>Fecha de Solicitud</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody id="tabla-resumenes">
        {% for resumen in resumenes %}
          <tr>
            <td>{{ resumen.numero_expediente }}</td>
            <td>{{ resumen.paciente_nombre }}</td>
            <td>{{ resumen.especialidad.name }}</td>
            <td>{{ resumen.fecha_solicitud }}</td>
            <td>{{ resumen.estado }}</td>
            <td>
              <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modal1-{{ documento.id }}">Ver Detalles</button>
              <div class="modal fade" id="modal1-{{ documento.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel-{{ documento.id }}" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="modalLabel-{{ documento.id }}">Detalles del Expediente {{ documento.numero_expediente }}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                      <p>
                        <strong>Número de Expediente:</strong> {{ documento.numero_expediente }}
                      </p>
                      <p>
                        <strong>Nombre del Paciente:</strong> {{ documento.paciente_nombre }}
                      </p>
                      <p>
                        <strong>Especialidad:</strong> {{ documento.especialidad.name }}
                      </p>
                      <p>
                        <strong>Fecha de Solicitud:</strong> {{ documento.fecha_solicitud }}
                      </p>
                      <p>
                        <strong>Estado:</strong> {{ documento.estado }}
                      </p>
                      <p>
                        <strong>Medico Becario:</strong> {{ documento.medico_becario }}
                      </p>
                      <p>
                        <strong>Medico Residente:</strong> {{ documento.medico_residente }}
                      </p>
                      <p>
                        <strong>Medico Adscrito:</strong>
                        {% for adscrito in documento.medico_adscrito.all %}
                          <br />{{ adscrito }}
                        {% empty %}
                          None
                        {% endfor %}
                      </p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    </div>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function () {
      // Barra de Búsqueda
      $('#barra-busqueda').on('input', function () {
        filtrarResumenes()
      })
    
      function filtrarResumenes() {
        let especialidades = []
        $('#filtros-especialidad input[type="checkbox"]:checked').each(function () {
          especialidades.push($(this).val())
        })
    
        let query = $('#barra-busqueda').val()
    
        $.ajax({
          url: "{% url 'lista_resumenes' %}",
          data: {
            especialidades: especialidades,
            q: query
          },
          success: function (data) {
            $('#tabla-resumenes').html($(data).find('#tabla-resumenes').html())
          }
        })
      }
    })
  </script>
{% endblock %}
