{% extends 'Medico/layout.html' %}
{% load static %}

{% block content %}

<div class="container">
    <form method="post" id="editForm">
                {% csrf_token %}

                <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
                  <!--Bloque div para el titulo-->
                  <div class="row mb-5">
                    <div class="col-md-8 col-xl-12 text-center mx-auto">
                      <h2>Prueba1</h2>
                      <p class="w-lg-50">Esta editando el numero de expediente :</p>
                    </div>
                  </div>

                  <!--Editor de summernote-->
                  <div class="row gy-4 w-100" style="max-width: 1200px;padding-right: 0px;margin-right: 56px;margin-left: 56px;padding-left: 0px;">
                    <div class="col-12" style="padding-left: 0px;padding-right: 0px;margin-right: 28px;">
                      <div class="card">
                          <textarea id="summernote" name="editordata">{{documento.texto}} </textarea>
                          <input type="hidden" name="content" id="content" />
                      </div>
                      <!--Boton para guardar el contenido-->
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#confirmModal" >Guardar</button>
                    </div>
                  </div>
                </div>
                
                
                
                <!--INICIA- Modal de confirmación de guardado-->
                <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmModalLabel">Confirmar Guardado</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        ¿Seguro que deseas guardar los cambios?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary" form="editForm">Guardar</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!--TERMINA Modal de confirmacio de guardado-->
                
                <!--Boton para generar el PDF, QUE APERTURA UN MODAL-->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pdfModal">Vista previa</button>

                <!--INICIO -Modal de confirmacion de generar el pdf CON VISTA PREVIA-->
                <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-fullscreen">
                      <div class="modal-content">
                          <div class="modal-header">
                              <h5 class="modal-title" id="pdfModalLabel">Generar PDF</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                              <h6>Vista previa del documento</h6>
                              <div id="preview-content" style="border: 1px solid #ddd; padding: 10px; height: 400px; overflow-y: auto;"></div>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                              <button type="button" class="btn btn-primary" id="confirmGeneratePDF">Generar PDF</button>
                          </div>
                      </div>
                  </div>
                </div>
                <!--TERMINA Modal de generacion de pdf CON VISTA PREVIA-->
                
                
  </form>     
  
  
    <div class="container mt-3">
      {% if documento.estado == 'Solicitud' and user_tipo != 'Residente' %}
        <form method="post" id="form_revision"action="{% url 'cambiar_estado' documento.id %}">
            {% csrf_token %}
            <input type="hidden" name="nuevo_estado" value="En revisión">
            <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal_enrevision" class="btn btn-secondary">
              Enviar a revisión
            </button>

              <!-- Modal de confirmación de estado -->
            <div class="modal fade" id="confirmModal_enrevision" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmModalLabel">Confirmar cambio</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h1>
                      Este resumen se enviará a revisión
                    </h1>
                    <h2>
                    ¿Estas deacuerdo?
                    </h2>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary" form="form_revision">Si, Enviar a revisión</button>
                  </div>
                </div>
              </div>
            </div>
            <!--TERMINA Modal de confirmacion CAMBIO DE ESTADO-->
    </form>


    {% elif documento.estado == 'En revisión' %}
      <form method="post" id="form_listoenviar"action="{% url 'cambiar_estado' documento.id %}">
        {% csrf_token %}
        <input type="hidden" name="nuevo_estado" value="Listo para enviar">
        <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal_listoenviar" class="btn btn-secondary">Listo para enviar</button>

              
              <!-- Modal de confirmación de estado -->
      <div class="modal fade" id="confirmModal_listoenviar" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmar cambio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <h1>Este resumen pasará a listos para enviar</h1>
              <h2>¿Estas deacuerdo?</h2>
              
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" form="form_listoenviar">Si</button>
            </div>
          </div>
        </div>
      </div>
    </form>


      {% elif documento.estado == 'Listo para enviar' %}
    <form method="post" id="form_enviado" action="{% url 'cambiar_estado' documento.id %}">
              {% csrf_token %}
              <input type="hidden" name="nuevo_estado" value="Enviado">
              <button type="button" data-bs-toggle="modal" data-bs-target="#confirmModal_enviado" class="btn btn-secondary">Enviar</button>


                           
              <!-- Modal de confirmación de estado -->
      <div class="modal fade" id="confirmModal_enviado" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmar envio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Esta seguro de enviar este resumen?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary" form="form_enviado">Si, enviar</button>
            </div>
          </div>
        </div>
      </div>
    </form>
      {% endif %}
  </div>



      <script>
        $(document).ready(function() {
            $('#summernote').summernote({
            placeholder:"Edita tu resumen",
            tabsize:2,
            tabDisable: false,
            height: 1000,
            minHeight: 500,             
            maxHeight: 1000,
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });

             // Asegurar que el contenido de Summernote se envíe correctamente
      $('form').on('submit', function () {
        let content = $('#summernote').summernote('code')
        $('#content').val(content)
      })

      let edit = function() {
        $('.click2edit').summernote({focus: true});
      };

      // Añadir funcionalidad para mostrar la vista previa en el modal
      $('#pdfModal').on('show.bs.modal', function () {
        let content = $('#summernote').summernote('code');
        document.getElementById('preview-content').innerHTML = content;
      });


      // Añadir funcionalidad para generar PDF
        $('#confirmGeneratePDF').on('click', function() {
            let content = $('#summernote').summernote('code');
            let form = document.createElement('form');
            form.method = 'POST';
            form.action = '{% url "generate_pdf" %}';
            form.target = '_blank';

            let csrfToken = document.createElement('input');
            csrfToken.type = 'hidden';
            csrfToken.name = 'csrfmiddlewaretoken';
            csrfToken.value = '{{ csrf_token }}';
            form.appendChild(csrfToken);

            let contentInput = document.createElement('input');
            contentInput.type = 'hidden';
            contentInput.name = 'content';
            contentInput.value = content;
            form.appendChild(contentInput);

            document.body.appendChild(form);
            form.submit();
            document.body.removeChild(form);
        });

   

      });
      </script>

{% endblock  %}