{% extends 'Medico/layout.html' %}
{% load static %}
{% block links %}

  <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,700,700italic&subset=latin,vietnamese,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,greek,greek-ext,vietnamese,cyrillic-ext,cyrillic,latin-ext' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-lite.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="{% static 'assets/img/ojo.svg' %}">

  <style>
    .summernote-container .note-editable {
      line-height: 1.2; /* Ajusta el valor según tus necesidades */
    }
  </style>
{% endblock %}
{% block content %}


  <nav class="navbar navbar-light bg-light fixed-top">
    <div class="container-fluid d-flex justify-content-between">
      <div class="d-flex align-items-center">        
        <button type="button" class="btn btn-outline-secondary" onclick="window.history.back();">
          <i class="fas fa-arrow-left"></i> Regresar
        </button>
      </div>
        
        
        
        <div class="d-flex justify-content-center">
          <!-- Botón para guardar el contenido -->
          {% if user_tipo != 'Administrador'%}
          <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#confirmModal">Guardar</button>
          {% endif %}
          <!-- Botón para generar el PDF, QUE APERTURA UN MODAL -->
          
          <!-- Botones Condicionales para Cambiar Estado -->
          {% if documento.estado == 'Solicitud' and user_tipo == 'Becario' %}
          <button type="button" class="btn btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#confirmModal_enrevision">Enviar a revisión</button>
          {% elif documento.estado == 'En revisión' and user_tipo == 'Adscrito' %}
          <button type="button" class="btn btn-outline-secondary ms-2" data-bs-toggle="modal" data-bs-target="#confirmModal_listoenviar">Pasar a la firma</button>
          {% elif documento.estado == 'Listo para enviar' and user_tipo == 'Adscrito' %}
          <button type="button" class="btn btn-secondary ms-2" data-bs-toggle="modal" data-bs-target="#confirmModal_firma">Insertar qr de validación y firma digital</button>
          <button type="button" class="btn btn-outline-danger ms-2" data-bs-toggle="modal" data-bs-target="#confirmModal_enviado">Enviar resumen al paciente</button>
          {% endif %}
        </div>
        <div class="d-flex align-items-center">
          <!-- Vacío para balancear el diseño -->
        </div>
    </div>
  </nav>



    <!-- Mostrar mensajes -->
    {% if messages %}
    <div class="container mt-3">
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}

  <button class="btn btn-outline-dark" data-bs-toggle="offcanvas" data-bs-target="#offcanvasComentarios" aria-controls="offcanvasComentarios">
    Ver Comentarios
  </button>
  <form method="post" id="editForm">
    {% csrf_token %}
    <div class="container d-flex flex-column align-items-center">
      <!-- Bloque div para el titulo -->
      <div class="row mb-5">
        <div class="col-md-12 col-xl-12 text-center mx-auto" style="margin-top: 10px;">
          <p>Estás editando el resumen de: <strong>{{ documento.paciente_nombre|upper }}</strong><p>
          <p class="w-lg-50">
          Número de expediente: <strong>{{ documento.numero_expediente }}</strong>
          </p>
        </div>
        
  <!-- Botón para abrir el off-canvas -->

 
      </div>
      <!-- Editor de summernote -->
      <div class="summernote-container">
          <div class="alert alert-danger" style="text-align: center;" role="alert">
            No incluyas imagenes de IMO, como portada, fecha o datos personales del paciente . Al generar el pdf que se envia al paciente, estos datos se incluyen automaticamente.
          </div>
          <textarea name="texto" id="contenido_principal">
            {{ form.texto.value }}
          </textarea>
      
      </div>
     
    </div>

    <!-- Modal de confirmación de guardado -->
    <div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-light">
            <div class="d-flex align-items-center">
              <h5 class="modal-title" id="confirmModalLabel">Confirmar</h5>
            </div>
          </div>
          <div class="modal-body">
            ¿Desea guardar los cambios realizados?
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" form="editForm">Si, guardar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- FIN Modal de confirmación de guardado -->
  </form>

  <!-- INICIAR MODAL PARA ENVIAR A REVISIÓN -->
  <form method="post" action="{% url 'cambiar_estado' documento.id %}">
    {% csrf_token %}
    <input type="hidden" name="nuevo_estado" value="En revisión" />
    <div class="modal fade" id="confirmModal_enrevision" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmar cambio</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Este resumen se enviará a revisión
            ¿Estás de acuerdo?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Sí</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- FINALIZA MODAL PARA CAMBIO DE ESTADO EN REVISIÓN -->

    <!-- Modal de confirmación de estado: Listo para enviar -->
    <form method="post" id="form_listoenviar" action="{% url 'cambiar_estado' documento.id %}">
      {% csrf_token %}
      <input type="hidden" name="nuevo_estado" value="Listo para enviar" />
      <div class="modal fade" id="confirmModal_listoenviar" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="confirmModalLabel">Confirmar cambio</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              Este resumen se enviará a la etapa de firma
              ¿Estás de acuerdo?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-primary">Sí</button>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- FIN Modal de confirmación de estado: Listo para enviar -->

  <!-- Modal de confirmación de estado: Enviar -->
   <!-- Modal de confirmación de estado: Enviar -->
   <form method="post" id="form_enviado" action="{% url 'enviar_documento' documento.id %}">
    {% csrf_token %}
    <input type="hidden" name="correo_paciente" value="{{ documento.correo_electronico }}">
    <div class="modal fade" id="confirmModal_enviado" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmar envío</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">¿Está seguro de enviar este resumen?
            <p>Nombre del paciente: {{ documento.paciente_nombre}}</p>
            <p>Se enviará al correo : {{ documento.correo_electronico}}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Sí, enviar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- FIN Modal de confirmación de estado: Enviar -->



  
   <!-- Modal de confirmación para insertar firma digital -->
   <form method="post" id="form_firma" action="{% url 'insertar_firma' documento.id %}">
    {% csrf_token %}
    <div class="modal fade" id="confirmModal_firma" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmModalLabel">Confirmar</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>¿Seguro que deseas agregar qr de validación y firma digital en el documento?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Sí, insertar</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- FIN Modal de confirmación para insertar firma digital -->





  <!-- Modal de confirmación de generar PDF con vista previa -->
  <div class="modal fade" id="pdfModal" tabindex="-1" aria-labelledby="pdfModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="pdfModalLabel">Generar PDF</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6>Vista previa del documento</h6>
          <div id="preview-content" style="border: 1px solid #ddd; padding: 10px; height: 400px; overflow-y: auto;"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary" id="confirmGeneratePDF">Generar PDF</button>
        </div>
      </div>
    </div>
  </div>
  <!-- FIN Modal de confirmación de generar PDF con vista previa -->


       <!-- Off-canvas -->
       <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasComentarios" aria-labelledby="offcanvasComentariosLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasComentariosLabel">Comentarios</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <ul class="list-group">
                {% for comentario in comentarios %}
                <li class="list-group-item d-flex">
                    <!-- Avatar -->
                    <div class="avatar me-3">
                        <img src="{% static 'assets/img/user.svg' %}" alt="avatar" class="rounded-circle" width="40" height="40">
                    </div>
                    <!-- Comment content -->
                    <div>
                        <strong>{{ comentario.usuario.username }}</strong><br>
                        <small class="text-muted">{{ comentario.fecha_de_creacion }}</small>
                        <p class="mb-0">{{ comentario.comentario }}</p>
                    </div>
                </li>
                {% endfor %}
            </ul>
            <br>
            <br>
            <br>
            <br>
      
            <!-- Formulario para agregar un nuevo comentario -->
            <form method="POST" action="{% url 'agregar_comentario' documento.id %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="comentario">Nuevo Comentario:</label>
                    <textarea name="comentario" id="comentario" class="form-control" rows="3" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Agregar Comentario</button>
            </form>
        </div>
      </div>
      
      
      








  <script>
    $(function () {
      // Inicializar Summernote en el textarea
      $('#contenido_principal').summernote({
        height: 1115,  // Altura en píxeles, igual que en Froala
        minHeight: 1115, // Altura mínima
        maxHeight: 1115, // Altura máxima
        lineHeights: ['1.2', '1.4', '1.5', '2.0', '3.0'],
        focus: true,
        toolbar: [
        

          ['font', ['bold', 'italic', 'underline']],
          ['para', ['ul', 'ol', '']],
  
        ],
      });
      
  
      // Desaparecer el mensaje después de 5 segundos
      setTimeout(function() {
        $('.alert').fadeOut('slow');
      }, 5000); // 5000 milisegundos = 5 segundos
  
    });
  
    document.addEventListener('DOMContentLoaded', function () {
      const form = document.getElementById('form_revisión')
      console.log('Form action URL:', form.action)
    });
  </script>
  
{% endblock %}
