{% extends 'Medico/layout.html' %}
{% load static %}
{% block title %}Medicos Residentes-Becarios{% endblock  %}
{% block content %}

<h1>Lista de Solicitudes y Revisiones</h1>

{% if especialidades %}
    <h2>Filtrar por Especialidad:</h2>
    <form method="get" action="{% url 'lista_solicitudes_revision' %}">
        {% for esp in especialidades %}
            <button type="submit" name="especialidad_id" value="{{ esp.id }}">{{ esp.name }}</button>
        {% endfor %}
    </form>
{% endif %}

<h2>Solicitudes</h2>
<table>
    <thead>
        <tr>
            <th>Número de Expediente</th>
            <th>Nombre del Paciente</th>     
            <th>Especialidad</th>
            <th>Fecha de Solicitud</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for documento in documentos_solicitud %}
            <tr>
                <td>{{ documento.numero_expediente }}</td>
                <td>{{ documento.paciente_nombre }}</td>
                <td>{{ documento.especialidad.name }}</td>
                <td>{{ documento.fecha_solicitud }}</td>
                <td>{{ documento.estado }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<h2>En Revisión</h2>
<table>
    <thead>
        <tr>
            <th>Número de Expediente</th>
            <th>Nombre del Paciente</th>
            <th>Especialidad</th>
            <th>Fecha de Solicitud</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        {% for documento in documentos_revision %}
            <tr>
                <td>{{ documento.numero_expediente }}</td>
                <td>{{ documento.paciente_nombre }}</td>
                <td>{{ documento.especialidad.name }}</td>
                <td>{{ documento.fecha_solicitud }}</td>
                <td>{{ documento.estado }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock  %}