<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>PDF</title>
    <style>
        @page {
            size: A4;
            margin: 20mm;
        }
        body {
            font-family: Arial, sans-serif;
            width: 174mm; /* ajustar según el margen para mantener la consistencia con A4 */
        }
        h1, h2, h3, h4, h5, h6 {
            color: #333;
        }
        p {
            margin: 0;
            padding: 0;
        }
        table {
            width: 46%;
            margin-right: 54%;
        }
    </style>
  
</head>
<body>
    <div>
        {{ content|safe }}
    </div>
</body>
</html>