{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <style>
      body {
        margin: 0;
        padding: 0;
      }
      .solid-container {
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="solid-container"></div>

    <script type="text/javascript">
      window.PDFJS_LOCALE = {
        pdfJsWorker: '{% static "3dflip/js/pdf.worker.js" %}',
        pdfJsCMapUrl: '{% static "3dflip/cmaps/" %}'
      }
    </script>
    <!-- Scripts para el FlipBook -->
    <script src="{% static '3dflip/js/jquery.min.js' %}"></script>
    <script src="{% static '3dflip/js/html2canvas.min.js' %}"></script>
    <script src="{% static '3dflip/js/three.min.js' %}"></script>
    <script src="{% static '3dflip/js/pdf.min.js' %}"></script>
    <script src="{% static '3dflip/js/3dflipbook.min.js' %}"></script>
    <script src="{% static '3dflip/js/default-book-view.js' %}"></script>
    <script src="{% static '3dflip/templates/default-book-view.html' %}"></script>
    <script src="{% static '3dflip/js/pdf.worker.js' %}"></script>

    <script type="text/javascript">
      window.FB3D_LOCALE = {
        dictionary: {
          string: 'translation'
        }
      }
    </script>

    <script>
      $(document).ready(function () {
        $('.solid-container').FlipBook({
          pdf: '{% static "pdfs/informe.pdf" %}', // Ruta correcta al PDF
          template: {
            html: '{% static "3dflip/templates/default-book-view.html" %}', // Ruta correcta al archivo HTML de la plantilla
      
            styles: [
              '{% static "3dflip/css/black-book-view.css" %}' // Ruta correcta al archivo CSS
            ],
      
            script: '{% static "3dflip/js/default-book-view.js" %}', // Ruta correcta al archivo JS
      
            links: [
              {
                rel: 'stylesheet',
                href: '{% static "3dflip/css/font-awesome.min.css" %}' // Ruta correcta al archivo de Font Awesome
              }
            ],
      
            sounds: {
              startFlip: '{% static "3dflip/sounds/start-flip.mp3" %}', // Ruta correcta al sonido de inicio
              endFlip: '{% static "3dflip/sounds/end-flip.mp3" %}' // Ruta correcta al sonido de finalización
            }
          },  
          pdfWorker: '{% static "3dflip/js/pdf.worker.js" %}', 
        })
      })
    </script>
  </body>
</html>
