<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Probar Froala Editor</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  

    
    <style>
        .fr-wrapper div.fr-element {
            width: 794px; /* Ancho de un documento A4 en píxeles */
            border: 1px solid #ccc;
            padding: 20px;
            box-sizing: border-box;
            margin: 0 auto;
        }
    </style>

</head>


<body>
 
  
</body>
</html>
