{% extends 'Medico/layout.html' %}
{% load static %}
{% block title %}

{% endblock %}
{% block content %}

<div class="container">
    <form method="post">
      {% csrf_token %}

      <div class="container d-flex flex-column align-items-center py-4 py-xl-5">
        <div class="row mb-5">
          <div class="col-md-8 col-xl-12 text-center mx-auto">
            <h2>Prueba1</h2>
            <p class="w-lg-50">Esta editando el numero de expediente :</p>
          </div>
        </div>
        <div class="row gy-4 w-100" style="max-width: 1200px;padding-right: 0px;margin-right: 56px;margin-left: 56px;padding-left: 0px;">
          <div class="col-12" style="padding-left: 0px;padding-right: 0px;margin-right: 28px;">
            <div class="card">
                <textarea id="summernote" name="editordata"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
          </div>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            $('#summernote').summernote({
            placeholder:"Edita tu resumen",
            tabsize:2,
            tabDisable: false,
            height: 1000,
            minHeight: 500,             
            maxHeight: 1000,
            focus: true,
            toolbar: [
                ['style', ['style']],
                ['font', ['bold', 'underline', 'clear']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['table', ['table']],
                ['insert', ['link', 'picture', 'video']],
                ['view', ['fullscreen', 'codeview', 'help']]
                ]
            });
        });
      </script>

{% endblock  %}