img {
  max-height: 53px;
  margin-right: 18px;
  margin-top: -3px;
  display: inline-block;
}



.nav-link:hover::after {
  width: 100%;
  left: 0;
  background: darkred;
}

.nav-link:focus, .nav-link:hover {
  color: #881723;
}

body {
  /*margin: 0;*/
  font-family: 'Roboto';
  /*font-size: var(--bs-body-font-size);*/
  /*font-weight: var(--bs-body-font-weight);*/
  /*line-height: var(--bs-body-line-height);*/
  /*color: var(--bs-body-color);*/
  /*text-align: var(--bs-body-text-align);*/
  /*background-color: var(--bs-body-bg);*/
  /*-webkit-text-size-adjust: 100%;*/
  /*-webkit-tap-highlight-color: transparent;*/
}

